/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
@import "font-awesome-compass";
@import "font-awesome";

form fieldset {
    display: table;
    padding: 10px;
    margin: 10px;

    div {
        margin: 10px;
        display: table-row;

        label {
            padding: 10px;
            display: table-cell;
            text-align: right;
            vertical-align: middle;

            &:after {
                content: ':';
            }
        }

        &.required label:before {
            content: '* ';
            color: red;
        }

        input, select, textarea {
            display: table-cell;
            margin: 10px;
        }
    }
}
